@use '../utilities/colors';

.btn{
	padding: 1em 3em;
	border-radius: 0;
    background: none;
    color: white;
    border: 1px solid transparent;
    background-color: colors.$btn-color;
    cursor: pointer;
    transition: all .6s;
    text-transform: uppercase;
    font-weight: bold;
    &:hover{
        background-color: colors.$btn-color-hover;
        border: 1px solid white;
    }

   
}