@use '../utilities/colors';
@use '../utilities/mixins';

.nav {
	position: sticky;
	top: 0;
	background: colors.$bgc-nav;
    
	transition: 0.6s;
	z-index: 1000;
    &__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		margin: 0 auto;
		width: 100%;
		max-width: 1600px;
		@include mixins.xs-devices {
			padding: 0em 3em;
		}
	}
    &__logo {
		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-img {
			width: 60px;
			@include mixins.xs-devices {
				width: 90px;
			}
		}
		&-title {
			margin-left: 0.5em;
			font-size: 1rem;
			text-align: center;
            text-transform: uppercase;
            color:colors.$dark-font;
			@include mixins.xs-devices {
				margin-left: 1em;
				font-size: 1.2rem;
			}
		}
	}
    &__collapse {
		position: fixed;
		display: flex;
		justify-content: center;
		top: -400px;
		left: 0;
		width: 100%;
		background-color: colors.$bgc-nav;
		transition: all 0.8s;
		

		@include mixins.large-devices {
			position: relative;
			display: flex;
			top: 0;
            width: auto;
			background: none;
		}
	}
    &__list {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin: 0;
		list-style: none;
		@include mixins.large-devices {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 0;
		}
	}
	&__item {
		margin: .5em;
        font-size: 1.2rem;
        
		@include mixins.large-devices {
            margin: 0 1em;
		}
	}
	&__link {
		position: relative;
		font-weight: bold;
        color:colors.$dark-font;
		transition: 0.3s;
		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: -5px;
			width: 0;
			border-bottom: 3px solid colors.$action;;
			transition: 0.3s;
		}
		&::before {
			right: 50%;
		}
		&::after {
			left: 50%;
		}
		&:hover::before,
		&:hover::after {
			width: 50%;
		}
	}

	&__btn {
		display: none;
		@include mixins.large-devices {
			display: block;
		}
	}
	&__hamburger {
		z-index: 100;
		@include mixins.large-devices {
			display: none;
		}
	}
    
}

.mobile-active {
	top: 80px;;
}