::-webkit-scrollbar {
	width: 15px; /* szerokość paska przewijania */

  }
  
  ::-webkit-scrollbar-track {
	background: #333; /* kolor tła paska przewijania */
  }
  
  ::-webkit-scrollbar-thumb {
	background: #84BD00; /* kolor samego paska przewijania */
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #84BD00; /* kolor paska przewijania po najechaniu kursorem */
  }